:root {
    --accent-color: #ff2d2d;
    --dark-background: #313030;

    --horizontal-offset: 15px;
    --tempalte-content-width: 1250px;
    --content-width: calc(var(--tempalte-content-width) + var(--horizontal-offset) * 2);

    --main-font-family: 'Open Sans', sans-serif;

    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-big: 24px;
    --font-xl: 30px;
    --font-xxl: 60px;

}

body {
    font-family: var(--main-font-family);
    font-size: var(--font-md);

}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 var(--horizontal-offset);
}

header {
    padding-top: 30px;
    background-color: #f6f2f2;
}

header nav ul {
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
}

header nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    min-height: 100%;
    font-size: var(--font-sm);
    padding: 35px 25px;
    transition: .3s;
}

nav li a:hover {
    background-color: var(--accent-color);
}

header nav li {
    display: flex;
}

.active-link {
    padding: 35px 25px;
    background-color: var(--accent-color);
}

.section-banner {
    background-color: #f6f2f2;
    padding: 105px 0 120px 0;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-left {
    width: 50%;
}

h1 {
    font-size: var(--font-xxl);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1;
}

p {
    color: #6f6d6d;
}

.banner-left p {
    margin-bottom: 60px;
}

.banner-button {
    display: block;
    font-weight: bold;
    font-size: var(--font-lg);
    text-align: center;
    color: white;
    background-color: var(--accent-color);
    padding: 20px 58px;
    max-width: 230px;
    border-radius: 10px;
    text-decoration: none;
    border: 5px var(--accent-color) solid;
    transition: .3s;
}

.banner-button:hover {
    background-color: white;
    color: var(--accent-color);
}

video {
    width: 550px;
    object-fit: inherit;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.44);
}

.services {
    padding: 110px 0 115px 0;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.learn-more-left,
.learn-more-right {
    width: 50%;
}

.learn-more-left {
    margin-right: 130px;
}

h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.learn-more-button {
    border: 2px solid red;
    color: red;
    font-size: var(--font-lg);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 60px;
    display: block;
    margin-top: 60px;
    max-width: 227px;
    min-height: 55px;
    transition: .3s;
}

.learn-more-button:hover {
    color: white;
    background-color: var(--accent-color);
}

.learn-more-right {
    display: flex;
    flex-wrap: wrap;
}

.bullet-img {
    width: 45px;
    margin-bottom: 35px;
}

h3 {
    font-size: var(--font-big);
    margin-bottom: 20px;
}

.bullet {
    width: 50%;
    padding: 0 35px 55px 0;
}

.product-section {
    padding-bottom: 110px;
}

.feature-product-top {
    padding-bottom: 90px;
    text-align: center;
    max-width: 505px;
    margin: 0 auto;
}

.feature-product-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    margin: 30px auto 0;
    align-items: center;
    border-bottom: 5px solid var(--accent-color);
}

.feature-product-bottom-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.feature-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4c4c4c;
    font-size: 22px;
}

.feature-link:hover {
    color: var(--accent-color);
}

.feature-link.active {
    color: var(--accent-color);
}

.feature-gallery {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-gallery-img {
    width: 298px;
    height: 291px;
    margin-bottom: 20px;
}

.our-team-top {
    margin-bottom: 70px;
}

.our-team-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    align-items: center;
    border-bottom: 5px solid var(--accent-color);
    margin-top: 35px;
}

.our-team-bottom {
    display: flex;
}

.meet-team {
    margin-bottom: 115px;
}

h4 {
    text-transform: uppercase;
    font-size: var(--font-xl);
    margin-bottom: 45px;
}

.our-team-left {
    width: 322px;
    margin-right: 75px;
}

.team-social-nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px 0 50px 0;
}

.team-social-link {
    font-style: italic;
    text-decoration: none;
    color: #585858;
}

.social-review {
    display: flex;
    justify-content: space-between;
}

.social-review-img {
    width: 197px;
    height: 217px;
}

.social-review-img:hover .pop-up {
    width: 100%;
    height: 40px;
    background-color: #7a786e;
    position: relative;
    top: -40px;
}

.pop-up-p {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.subscribe-section {
    background-color: #f5f0dd;
    color: white;
    padding: 150px 0 140px 0;
    margin-bottom: 110px;
}

.subscribe-block {
    margin: 0 auto;
    text-align: center;
}

h5 {
    font-size: 45px;
    color: white;
    margin-bottom: 35px;
}

.subscribe-block-p {
    color: white;
    margin-bottom: 65px;
}

.email-sub {
    width: 522px;
    height: 80px;
    border-radius: 5px;
    border: none;
    padding-left: 40px;
}

.subscribe-btn {
    width: 213px;
    height: 78px;
    border: 5px var(--accent-color) solid;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin-left: 22px;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.subscribe-btn:hover {
    background-color: white;
    color: var(--accent-color);
}

.get-in-touch-top p {
    max-width: 60%;
}

.get-in-touch-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    align-items: center;
    border-bottom: 5px solid var(--accent-color);
    margin: 55px 0 80px 0;
}

.get-in-touch-bottom {
    display: flex;
    margin-bottom: 110px;
}

.flex-inputs {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.contact-form-input,
textarea {
    background-color: #e5e5e5;
    color: #444444;
    border: none;
    border-radius: 5px;
    padding-left: 50px;
}


.contact-form-input {
    width: 340px;
    height: 70px;
}

textarea {
    margin-top: 45px;
    padding-top: 35px;
    width: 100%;
    height: 250px;
    resize: none;
    margin-bottom: 45px;
}

.send-msg-btn {
    width: 100%;
    padding: 30px 0;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: 5px var(--accent-color) solid;
    color: white;
    font-weight: bold;
}

.send-msg-btn:hover {
    background-color: white;
    color: var(--accent-color);
}

.contact-info-block {
    background-color: var(--dark-background);
    height: inherit;
    padding: 145px 0 0 80px;
}

.feedback {
    overflow: hidden;
}

.contact-info-block:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: var(--dark-background);
}

.get-in-touch-bottom {
    position: relative;
}

address {
    font-style: normal;
}

h6 {
    font-size: var(--font-lg);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

.contact-info-p {
    color: white;
    margin-bottom: 30px;
}

.contact-info-p a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: var(--dark-background);
    color: #b8b8b8;
    font-size: var(--font-md);
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0 30px;
}

.social-icons-group ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

/* MEDIA */

@media (min-width: 1281px) {
    .get-in-touch-bottom form {
        margin-right: 30px;
    }
}

@media (max-width: 1280px) {

    .container {
        max-width: 1024px;
    }

    .banner {
        gap: 20px;
    }

    .banner p {
        width: 90%;
        max-width: 90%;
    }

    .banner-left, .banner-right {
        max-width: calc(50% - 20px);
    }

    video {
        max-width: 457px;
    }

    .feature-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .feature-gallery-img {
        flex-wrap: wrap;
        width: 45%;
        max-width: 45%;
    }


    .our-team-left {
        max-width: 25%;
        padding-top: 70px;
        margin-right: 20px;
    }

    .our-team-right {
        max-width: 100%;
    }

    .social-review {
        gap: 20px;
    }

    .social-review-img {
        width: 50%;
        flex-wrap: wrap;
    }

    .get-in-touch-bottom form {
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }

    .banner {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .banner p {
        width: 600px;
        margin: 0 auto 40px;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .banner-left {
        max-width: 100%;
        width: 100%;
        margin: 0 auto 50px auto;
    }

    .banner-button {
        margin: 0 auto;
        max-width: 400px;
    }

    .banner-right {
        margin: 0 auto 50px auto;
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .learn-more {
        display: block;
    }

    .learn-more-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .learn-more-right {
        width: 100%;
    }

    .contact-info-block:after {
        display: none;
    }

    .learn-more-left p {
        margin-bottom: 25px;
    }

    .learn-more-button {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .feature-product-bottom-nav {
        display: flex;
        justify-content: center;
    }

    .feature-product-bottom-nav ul {
        flex-direction: row;
    }

    .feature-product-bottom-nav ul li {
        margin-bottom: 30px;
    }

    .feature-product-bottom-nav ul li:last-child {
        margin-bottom: 0;
    }

    .feature-product-bottom-nav ul li a {
        font-size: 17px;
    }

    .feature-gallery {
        justify-content: center;
        column-gap: 50px;
    }

    .subscribe-block form {
        margin: 0 auto;
        text-align: center;
    }

    .email-sub {
        margin-bottom: 20px;
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .subscribe-btn {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .get-in-touch-bottom,
    .contact-info-block {
        display: block;
    }

    .get-in-touch-bottom form {
        margin: 0 auto 20px auto;
    }

    .contact-info-block {
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 767px) {

    .container {
        width: 576px;
    }

    header nav li a {
        padding: 35px 15px;
    }

    .bullet .bullet-img,
    .bullet h3 {
        display: inline-block;
    }

    .bullet-img {
        width: 50px;
        margin-bottom: -10px;
    }

    .bullet {
        display: block;
        width: 100%;
    }

    .team-social-nav {
        display: flex;
        justify-content: center;
    }

    .feature-product-bottom-nav ul {
        gap: 20px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .our-team-bottom,
    .our-team-left,
    .our-team-right {
        display: block;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .our-team-left {
        padding: 0;
        margin: 0 auto 20px;
        width: 50%;
    }

    .our-team-left img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .social-review {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
    }

    .social-review-img {
        margin-bottom: 20px;
        width: 45%;
        max-width: 45%;
        height: auto;
    }

    .flex-inputs {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .contact-form-input {
        width: 100%;
        max-width: 100%;
        margin-bottom: 35px;
    }

    textarea {
        margin-top: 0;
    }

    .footer-wrapper ul {
        justify-items: right;
        gap: 10px;
    }
}

@media (max-width: 567px) {

    .container {
        width: 320px;
    }

    header nav ul li {
        display: none;
    }

    header nav li a,
    header .active-link {
        padding: 20px 5px;
        text-align: center;
    }

    .banner,
    .banner p,
    .banner-right {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    video {
        width: 100%;
    }

    .bullet h3 {
        font-size: var(--font-md);
    }

    .feature-product-bottom-nav ul {
        display: block;
    }

    .feature-product-bottom-nav ul {
        margin-bottom: 10px;
    }

    .feature-product-bottom-nav ul:last-child {
        margin-bottom: 0;
    }

    .feature-gallery-img img {
        width: 100%;
        max-width: 100%;
    }

    .feature-gallery-img {
        width: calc(50% - 25px);
        max-width: calc(50% - 25px);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        height: initial;
    }

    .team-social-nav ul {
        gap: 10px;
    }

    .social-review {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }

    .social-review-img {
        width: calc(50% - 5px);
    }

    .email-sub {
        width: 100%;
        max-width: 100%;
    }

    .subscribe-btn {
        margin: 0 auto;
    }

    .get-in-touch-top p {
        width: 100%;
        max-width: 100%;
    }

    .contact-info-block {
        padding: 20px;
    }

    h1, h2, h3, h4, h5 {
        font-size: var(--font-xl);
    }

    .section-banner,
    .product-section {
        padding-bottom: 60px;
    }

    .section-banner {
        padding-top: 15px;
    }

    .meet-team,
    .subscribe-section {
        margin-bottom: 50px;
    }

    .services,
    .subscribe-section {
        padding: 50px 0;
    }

    .footer-wrapper {
        display: block;
    }

    .footer-copyright {
        margin-bottom: 10px;
    }

    .footer-copyright,
    .social-icons-group {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}