body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
    background-color: #f6f2f2;
}

header nav ul {
    background-color: #313030;
    display: flex;
    justify-content: center;
}

header nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    min-height: 100%;
    font-size: 14px;
    padding: 35px 25px;
    transition: .3s;
}

nav li a:hover {
    background-color: #ff3f40;
}

header nav li {
    display: flex;
}

.active-link {
    padding: 35px 25px;
    background-color: #ff3f40;
}

.section-banner {
    background-color: #f6f2f2;
    padding: 105px 0 120px 0;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-left {
    width: 50%;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1;
}

p {
    color: #6f6d6d;
}

.banner-left p {
    margin-bottom: 60px;
}

.banner-button {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #ff2d2d;
    padding: 20px 58px;
    max-width: 225px;
    border-radius: 10px;
    text-decoration: none;
    border: 5px #ff2d2d solid;
    transition: .3s;
}

.banner-button:hover {
    background-color: white;
    color: #ff2d2d;
}

video {
    width: 550px;
    height: 355px;
    object-fit: inherit;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.44);
}

.services {
    padding: 110px 0 115px 0;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.learn-more-left,
.learn-more-right {
    width: 50%;
}

.learn-more-left {
    margin-right: 130px;
}

h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.learn-more-button {
    border: 2px solid red;
    color: red;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 60px;
    display: block;
    margin-top: 60px;
    max-width: 227px;
    min-height: 55px;
    transition: .3s;
}

.learn-more-button:hover {
    color: white;
    background-color: #ff2d2d;
}

.learn-more-right {
    display: flex;
    flex-wrap: wrap;
}

.bullet-img {
    width: 45px;
    margin-bottom: 35px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bullet {
    width: 50%;
    padding: 0 35px 55px 0;
}


.feature-product-top {
    padding-bottom: 90px;
    text-align: center;
    max-width: 505px;
    margin: 0 auto;
}

.feature-product-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    margin: 30px auto 0;
    align-items: center;
    border-bottom: 5px solid #ff2d2d;
}

.feature-product-bottom-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.feature-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4c4c4c;
    font-size: 22px;
}

.feature-link:hover {
    color: #ff2d2d;
}

.feature-link.active {
    color: #ff2d2d;
}

.feature-gallery {
    padding: 65px 0 140px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-gallery-img {
    width: 298px;
    height: 291px;
    margin-bottom: 20px;
}

.our-team-top {
    margin-bottom: 70px;
}

.our-team-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    align-items: center;
    border-bottom: 5px solid #ff2d2d;
    margin-top: 35px;
}

.our-team-bottom {
    display: flex;
    margin-bottom: 115px;
}

h4 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 45px;
}

.our-team-left {
    width: 322px;
    height: 460px;
    margin-right: 75px;
}

.team-social-nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px 0 50px 0;
}

.team-social-link {
    font-style: italic;
    text-decoration: none;
    color: #585858;
}

.social-review {
    display: flex;
    justify-content: space-between;
}

.social-review-img {
    width: 197px;
    height: 217px;
}

.social-review-img:hover .pop-up {
    width: 100%;
    height: 40px;
    background-color: #7a786e;
    position: relative;
    top: -40px;
}

.pop-up-p {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.subscribe-section {
    background-color: #f5f0dd;
    color: white;
}

.subscribe-block {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 140px;
}

h5 {
    font-size: 45px;
    color: white;
    padding-top: 150px;
    margin-bottom: 35px;
}

.subscribe-block-p {
    color: white;
    margin-bottom: 65px;
}

.email-sub {
    width: 522px;
    height: 80px;
    border-radius: 5px;
    border: none;
    padding-left: 40px;
}

.subscribe-btn {
    width: 213px;
    height: 78px;
    border: 5px #ff2d2d solid;
    background-color: #ff2d2d;
    border-radius: 5px;
    margin-left: 22px;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.subscribe-btn:hover {
    background-color: white;
    color: #ff2d2d;
}

.get-in-touch {
    width: 732px;
    margin-top: 45px;
}

.get-in-touch-top {
    margin-bottom: 75px;
}

.get-in-touch-top:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    align-items: center;
    border-bottom: 5px solid #ff2d2d;
    margin-top: 55px;
}

.get-in-touch-bottom {
    display: flex;
    margin-bottom: 110px;
}

.flex-inputs {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.contact-form-input,
textarea {
    background-color: #e5e5e5;
    color: #444444;
    border: none;
    border-radius: 5px;
    padding-left: 50px;
}

form {
    margin-right: 110px;
}

.contact-form-input {
    width: 340px;
    height: 70px;
}

textarea {
    margin-top: 45px;
    padding-top: 35px;
    width: 100%;
    height: 250px;
    resize: none;
    margin-bottom: 45px;
}

.send-msg-btn {
    width: 100%;
    padding: 30px 0;
    background-color: #ff2d2d;
    border-radius: 5px;
    border: 5px #ff2d2d solid;
    color: white;
    font-weight: bold;
}

.send-msg-btn:hover {
    background-color: white;
    color: #ff2d2d;
}

.contact-info-block {
    background-color: #313030;
    height: inherit;
    padding: 145px 0 0 80px;
}

.get-in-touch-bottom {
    position: relative;
}

address {
    font-style: normal;
}

h6 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

.contact-info-p {
    color: white;
    margin-bottom: 30px;
}

.contact-info-p a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #313030;
    color: #b8b8b8;
    font-size: 16px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0 30px;
}

.social-icons-group ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}